ace-editor {
    height: 100%;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

ace-editor.locked {
    background: url('../../assets/images/lock_icon.svg') center center;
    background-size: 20%;
    background-repeat: no-repeat;
}

.message {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 0.8em;
    z-index: 99;
    background-color: #EEE;
    padding: 5px;
    border: 1px solid #CCC;
    opacity: 0.8;
    color: #999;
}

.no-editor-open {
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    color: #AAA;
    font-weight: lighter;
}
