img.logo {
    height: 40px;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content_row {
    flex-grow: 1;
}
#input_row,#list_row,.navbar {
    flex-grow: 0;
}
#list_row {
    min-height: 42px;
    margin-top: 15px;
}
.navbar { min-height: 42px; }
#input_row {
    min-height: 48px;
    margin-bottom: 15px;
}

chat-messages,code-editor,terminal {
    height: 100%;
}


.modifiedFlag.modified {
    border-radius: 5px;
    height: 10px;
    width: 10px;
    display: inline-block;
    background-color: #AAA;
}

ul.members {
    list-style: none;
    padding: 0px;
    display: inline-block;
}
li.member {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.message {
    color: #333;
}
.message p {
    margin: 0px;
    line-height: normal;
}
/*
li.messageGroup > .header {
    border-bottom: 1px solid #AAA;
    background-color: #EEE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

ul.messageGroups ul.messages {
    list-style: none;
    padding: 0px;
}

ul.messageGroups ul.messages > li {
    border-top: 1px solid #EEE;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
ul.messageGroups ul.messages > li:first-child {
    border-top: none;
}
*/
.header .time {
    color: #888;
}
.header .sender {
    /*color: #333;*/
    /*font-weight: bold;*/
}


.user-1 { color: #007bff; } /* blue */
.user-2 { color: #dc3545; } /* red */
.user-3 { color: #fd7e14; } /* orange */
.user-4 { color: #ffc107; } /* yellow */
.user-5 { color: #28a745; } /* green */

