<name-entry *ngIf="!hasName" (onEnter)="setName($event)"></name-entry>

<div class="container" *ngIf="hasName && !connected">
    <div class="row">
        <div class="col">Connecting...</div>
    </div>
</div>
<div class="container-fluid" *ngIf="hasName && connected">
    <!-- <nav class="navbar">
        <span class="navbar-brand">
            <img src="assets/images/cc_icon.svg" class="logo" />
            <input type="text" [value]="getChatURL()" readonly />
        </span>
    </nav> -->
    <div class="row" id="list_row">
        <div class="col-8">
            <ul class='files nav nav-tabs'>
                <li class='nav-item' *ngFor="let editorState of getActiveEditors()">
                    <a [ngClass]="{'active': editorState.selected}" class='nav-link' href='javascript:void(0);' (click)="codeEditor.selectFile(editorState)">
                        {{editorState.getTitle()}}
                        <span class='modifiedFlag' [ngClass]="{'modified':editorState.getIsModified()}"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- <div class="col-1"></div> -->
        <div class="col-4">
            Here now:
            <ul class='members'>
                <li class='member' *ngFor="let user of commLayer.userList.activeUsers">
                    <user-display [user]='user'></user-display>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" id="content_row">
        <div class="col-8">
            <code-editor [commLayer]='commLayer' (cursorSelectionChanged)='editorCursorSelectionChanged($event)' #codeEditor></code-editor>
        </div>
        <!-- <div class="col-1">
            <timeline-display></timeline-display>
        </div> -->
        <div class="col-4">
            <chat-messages [commLayer]='commLayer' [editor]='codeEditor'></chat-messages>
        </div>
    </div>
    <div class="row" id="input_row">
        <div class="col-8">
            <terminal [commLayer]='commLayer'></terminal>
        </div>
        <!-- <div class="col-1"></div> -->
        <div class="col-4">
            <chat-input  [message]="message" (send)='sendTextMessage($event)'
            (typing)='updateTypingStatus($event)' #chatinput></chat-input>
        </div>
    </div>
</div>
