<div #messageDisplay class="message-display">
    <div class="no-messages" *ngIf='commLayer.messageGroups.isEmpty()'>
        (no messages)
    </div>
    <ul class='messageGroups'>
        <li class='messageGroup' *ngFor="let messageGroup of commLayer.messageGroups.getMessageGroups()">
            <ul *ngIf="isChatMessage(messageGroup)" class='messages list-group'  [ngClass]='"user-"+messageGroup.getSender().getColorIndex()' (click)="revert(messageGroup)">
                <li class='header list-group-item'>
                    <span class="sender">{{messageGroup.getSender().getName()}}</span>&nbsp;<span class="time">({{messageGroup.getLatestTimestamp() | amTimeAgo}})</span>
                    <!-- <button *ngIf='this.currentTimestamp!==messageGroup.getTimestamp()' class="btn btn-default btn-sm revert" (click)="revert(messageGroup)">Look</button> -->
                    <!-- <button *ngIf='this.currentTimestamp===messageGroup.getTimestamp()' class="btn btn-primary btn-sm revert" (click)="toLatest($event)">Latest</button> -->
                </li>
                <li *ngFor="let message of messageGroup.getItems()" class='message list-group-item'>
                    <chat-message [message]='message' [editorStateTracker]='commLayer.getEditorStateTracker()' [editor]='editor' ></chat-message>
                </li>
            </ul>
            <ul *ngIf="isEditMessage(messageGroup)" class='edit-messages list-group'>
                <edit-message-group [messageGroup]='messageGroup' [editor]='editor' [editorStateTracker]='commLayer.getEditorStateTracker()'></edit-message-group>
            </ul>
        </li>
        <li *ngIf='this.currentTimestamp >= 0'>
            <button class='btn btn-primary btn-lg btn-block' (click)="toLatest($event)">Back to Latest</button>
        </li>
    </ul>
    <div class='typing'>
        <div *ngFor='let user of commLayer.userList.activeUsers'>
            <div *ngIf='user.typingStatus=="ACTIVE_TYPING" && !user.isMe'>
                {{user.name}} is typing...
            </div>
        </div>
    </div>
</div>
