<div class="full_edit_message">
	<div class="edit_message">
		<span class="authors" *ngFor="let author of authors; let i = index">
			<span [ngClass]='"user-"+author.getColorIndex()'>{{author.getName()}}</span><span *ngIf="numAuthors>2 && i<numAuthors-2">, </span><span *ngIf="numAuthors>2 && i===numAuthors-2">, and</span><span *ngIf="numAuthors==2 && i==0"> and</span>
		</span>
		edited
		<span *ngFor="let editorState of editorStates; let i = index">
			<span><a (click)='openFile(editorState)' href="javascript:void(0)">{{editorState.getTitle()}}</a></span><span *ngIf="numEditorStates>2 && i<numEditorStates-2">, </span><span *ngIf="numEditorStates>2 && i===numEditorStates-2">, and</span><span *ngIf="numEditorStates==2 && i==0"> and</span>
		</span>
		<span class="time">({{messageGroup.getLatestTimestamp() | amTimeAgo}})</span>
	</div>
	<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
		<div class="btn-group" role="group">
			<button type='button' class='btn btn-secondary btn-sm' (click)='showCodeBefore()'>Show Code Before</button>
			<button type='button' class='btn btn-secondary btn-sm' (click)='showCodeAfter()'>Show Code After</button>
		</div>
		<div class="btn-group" role="group">
		    <button class='btn btn-secondary btn-sm' [ngClass]="{'active': showingChanges}" (click)="toggleShowingChanges()">
		        {{showingChanges ? "Hide diff" : "Show diff"}}
		    </button>
		</div>
	</div>
	<div *ngIf="showingChanges" class="diff">
		<div *ngFor="let dhtml of diffHTMLs" class="file_diff">
			<div [innerHTML]="dhtml">
			</div>
		</div>
	</div>
</div>
