/* You can add global styles to this file, and also import other style files */
.remoteCursor {
    position: absolute;
    background-color: red;
    z-index: 5;
}

.remoteCursor.carret {
    position: absolute;
    border-left: 2px solid orange;
    z-index: 6;
}
